nav {
    border-bottom: 1px solid gray;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
    form {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    input {
        padding: 1rem;
        border-radius: 15px;
    }
    button {
        border: none;
        width: 65px;
        height: 45px;
        border-radius: 10px;
        background-color: blue;
        color: white;
    }
    fieldset {
        border: none;
    }
    [type="checkbox"]:checked ~ label {
        text-decoration: line-through;
    }